.vertx
.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
rx-java/src/main/generated/**
rx-java/src/main/java/io/vertx/core/**
rx-java/src/test/java/io/vertx/codegen/**
rx-java/src/test/java/com/acme/**
rx-java-2/src/main/java/io/vertx/core/**
rx-java-2/src/test/java/io/vertx/codegen/**
rx-java-2/src/test/java/com/acme/**
